
<div class="book">
    <div class="container">
        <div class="videojs">
    
            <video
            id="video-player"
            #target
            class="video-js vjs-default-skin vjs-big-play-centered"
            
           
        >
        
                  
        <!-- video-js vjs-default-skin vjs-big-play-centered -->
<!-- vjs-big-play-centered vjs-theme-city -->
        </video>
         </div>
         <div class="video">
            <div class="poster">
                <img src="../../assets/2c377df2-e67b-4923-b2b9-a716485f3bf9/Basic_Business_FinanceP2.jpg" class="posterImg">
            </div>
            <div class="video-v">
            <video width="100%" height="100%" loop onmouseover="this.play()" onmouseout="this.pause()"   [muted]="'muted'"  >
                <source src="../../assets/2c377df2-e67b-4923-b2b9-a716485f3bf9/Basic_Business_FinanceP2_S.mp4" type="video/mp4">
            </video>
        </div>
         </div>
         </div>
</div>

    
 
